@import "../../styles/responsive.scss";

.chart-box {
    display: flex;
    height: 100%;

    @include sm {
        flex-direction: column;

    }
    
    .box-info {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include sm {
            gap: 20px;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 5px;

            @include xxl {
                font-size: 14px;
            }
        }

        h1 {
            @include xxl {
                font-size: 20px;
            }
        }
    }


    .chart-info {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chart {
            width: 100%;
            height: 100%;
            margin-left: 15px;
        }

        .texts {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-top: 10px;

            .percentage {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 5px;

                @include xxl {
                    font-size: 16px;
                }
            }

            .duration {
                font-size: 14px;
            }
        }
    }
}