@import "../../styles/responsive.scss";

.top-box {
    h1 {
        margin-bottom: 20px;

        @include xxl {
            font-size: 24px;
        }
    }

    .list {
        .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .user {
            display: flex;
            gap: 10px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                
                @include xxl {
                    display: none;
                }
                @include lg {
                    display: block;
                }
            }

            .user-texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .username {
                    font-weight: 500;
                    font-size: 14px;
                }

                .email {
                    font-size: 12px;

                    @include xxl {
                        display: none;
                    }
                    @include lg {
                        display: block;
                    }
                }
            }
        }

        .amount {
            font-weight: 500;
            margin-left: 30px;
        }
        }
    }
    
}
