.top-box {
    h1 {
        margin-bottom: 20px;
    }

    .list {
        .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .user {
            display: flex;
            gap: 10px;

            img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            }

            .user-texts {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .username {
                font-weight: 500;
                font-size: 14px;
            }

            .email {
                font-size: 12px;
            }

            }
        }

        .amount {
            font-weight: 500;
            margin-left: 30px;
        }
        }
    }
    
}
